html,
body {
	height: 100%;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 60%;
	text-align: center;
}

#showOooUrl {
	display: none;
}

@media (max-width: 1024px) {
	.card {
		max-width: 90%;
	}
}

